  // -=-=-=- RESPONSIVE CSS -=-=-=- \\

 @media (max-width: 1350px) {
     .sidenote, {
         display: none;
     }
     .midcolumn, {
         width: 75%;
     }
      .leftcolumn, {
         width: 20%;
     }
     .sidebar-link-box {
    overflow-x: hidden;
}
     .sidebar-link-box ul {
         font-size: smaller;
     }
}

@media (max-width: 800px){
     
    .midcolumn, .leftcolumn {
        width: 100%;
        margin: auto
    }
    .sidebar-link-box  {
        line-height: 0.8em;
    }
    .containter-lg {
        width: 100%;
    }
    .sidebar-card {
        padding: 0.5em;
    }
    .toc-container {
        margin: auto;
        max-width: 80%;
    }
    .related h2 {
        text-align: left;
    }
    .post-content {
        padding: 0em;
        margin: 0em;
    }
    .prev-next {
        padding: 2em;
        display: none;
    }
    .prev-next a {
        padding: 1em;
    }
    .backlinks-container{
        width: 80%;
    }
    .archive-grid {
    grid-template-columns: 100%;
    grid-gap: 0.5em;
    background-color: $background;
    padding: 1em;
    margin: auto;
}
    .left-aside, .right-aside, .right, .left {
        
        width: 80%;
        float: none;
    }
    
    code {
        overflow-x: scroll;
    }
}